/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Apply basic styles to the root element */
html,
body,
#root {
  height: 100%;
}

/* Set a base font size and font family */
body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}
